<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <form class="layui-form" id="form-submit">
                <input type="hidden" id="id" name="id" value="{notempty name='$role.id'}{$role.id}{/notempty}">
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>权限
                    </label>
                    <div class="layui-input-inline">
                        <div class="eleTree ele1"></div>
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>请赋予当前角色权限
                    </div>
                </div>
                {tp:access action="distributePower"}
                <div class="layui-form-item">
                    <button class="layui-btn" lay-filter="add" lay-submit="">提交</button>
                </div>
                {/tp:access}
            </form>
        </div>
    </div>
</div>
<script>
    layui.config({
        base: "__COMMON__/lib/layui/lay/mymodules/"
    }).use(['form', 'layer', 'eleTree'], function () {
        const eleTree = layui.eleTree;
        var tree = eleTree.render({
            elem: '.ele1',
            id: 'demoId',
            url: "{:url('selectPower')}?id=<?php if(!empty($role)){echo $role['id'];}?>",
            defaultExpandAll: true,
            showCheckbox: true,
        });

        const $ = layui.jquery;
        const form = layui.form,
            layer = layui.layer;

        //监听提交
        form.on('submit(add)', function (data) {
            //发异步，把数据提交给php

            const checkData = tree.getChecked(false, true); // 获取选中节点
            const arr = [];
            checkData.forEach(function (i) {
                arr.push(i.id);
            })
            const str = arr.join(",");
            ajaxDefalutRequest("ids=" + str + "&id=<?php if(!empty($role)){echo $role['id'];}?>", "{:url('distributePower')}", function (res) {
                if (res.state === -1) {
                    layer.alert(res.message, {icon: 5});
                } else if (res.state === 400) {
                    window.location.href = "{:url('admin/login/login')}";
                } else {
                    layer.alert(res.message, {icon: 6});
                    parent.location.reload();
                }
            });
            return false;
        });
    });

    layui.use(['form', 'layer'], function () {
        const $ = layui.jquery;
        const form = layui.form,
            layer = layui.layer;

        //监听提交
        form.on('submit(add)', function (data) {
            //发异步，把数据提交给php
            let url = '';
            if ($("#id").val() === '') {
                url = "{:url('add')}";
            } else {
                url = "{:url('edit')}";
            }
            var checkData = tree.getChecked('demoId');
            ajaxDefalutRequest(checkData, url, function (res) {
                if (res.state === -1) {
                    layer.alert(res.message, {icon: 5});
                } else if (res.state === 400) {
                    window.location.href = "{:url('admin/login/login')}";
                } else {
                    layer.alert(res.message, {icon: 6});
                    parent.location.reload();
                }
            });
            return false;
        });
    });
</script>