<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <form class="layui-form" id="form-submit">
                <input type="hidden" id="id" name="id" value="{notempty name='$role.id'}{$role.id}{/notempty}">
                <div class="layui-form-item">
                    <label for="par_id" class="layui-form-label">
                        <span class="x-red">*</span>上级角色
                    </label>
                    <div class="layui-input-inline">
                        <input type="hidden" id="par_id" name="par_id" value="{notempty name='$role.par_id'}{$role.par_id}{/notempty}">
                        <input type="text" name="title" readonly="" class="layui-input">
                        <div class="eleTree ele5" lay-filter="data5"></div>
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>请选择当前角色的上级角色
                    </div>
                </div>

                <div class="layui-form-item">
                    <button class="layui-btn" lay-filter="add" lay-submit="">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    layui.config({
        base: "__COMMON__/lib/layui/lay/mymodules/"
    }).use(['eleTree'], function () {
        let eleTree = layui.eleTree;
        let el5;
        $("[name='title']").on("click", function (e) {
            e.stopPropagation();
            if (!el5) {
                el5 = eleTree.render({
                    elem: '.ele5',
                    // data: data,
                    url: "../eleTree/tree.json",
                    defaultExpandAll: true,
                    expandOnClickNode: false,
                    highlightCurrent: true
                });
            }
            $(".ele5").toggle();
        });
        eleTree.on("nodeClick(data5)", function (d) {
            $("[name='title']").val(d.data.currentData.label)
            $(".ele5").hide();
        });
        $(document).on("click", function () {
            $(".ele5").hide();
        });
    });

    layui.use(['form', 'layer'], function () {
        const $ = layui.jquery;
        const form = layui.form,
            layer = layui.layer;

        //监听提交
        form.on('submit(add)', function (data) {
            //发异步，把数据提交给php
            let url = '';
            if ($("#id").val() === '') {
                url = "{:url('add')}";
            } else {
                url = "{:url('edit')}";
            }
            ajaxDefalutRequest(data.field, url, function (res) {
                if (res.state === -1) {
                    layer.alert(res.message, {icon: 5});
                } else {
                    layer.alert(res.message, {icon: 6});
                    parent.location.reload();
                }
            });
            return false;
        });
    });
</script>