<div class="x-nav">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>


<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <!-- search begin -->
                <div class="layui-card-body">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="开始日" name="start" id="start" value="{notempty name='$params.start'}{$params.start}{/notempty}"/>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="截止日" name="end" id="end" value="{notempty name='$params.end'}{$params.end}{/notempty}"/>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="name" placeholder="请输入角色名称" autocomplete="off" class="layui-input" value="{notempty name='$params.name'}{$params.name}{/notempty}"/>
                        </div>
                        {tp:access action="index"}
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="{:url('index')}" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                        {/tp:access}
                    </form>
                </div>
                <!-- search end -->

                <!-- buttons begin -->
                <div class="layui-card-header">
                    {tp:access action="delete"}
                    <button class="layui-btn layui-btn-danger" onclick="delAll(null, '{:url(\'delete\')}')"><i class="layui-icon"></i>批量删除</button>
                    {/tp:access}
                    {tp:access action="add"}
                    <button class="layui-btn" onclick="xadmin.open('添加角色','{:url(\'add\')}','500','300',false)"><i class="layui-icon"></i>添加</button>
                    {/tp:access}
                </div>
                <!-- buttons end -->

                <!-- table begin -->
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" lay-skin="primary" lay-filter="all">
                            </th>
                            <th>ID</th>
                            <th>角色名称</th>
                            <th>描述</th>
                            <th>创建时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </thead>
                        <tbody>
                        {volist name='list' id='role'}
                        <tr>
                            <td>
                                <input type="checkbox" lay-skin="primary" lay-filter="single" value="{$role.name}-{$role.id}">
                            </td>
                            <td>{$i}</td>
                            <td>{$role.name}</td>
                            <td>{$role.desc}</td>
                            <td>{$role.create_time}</td>
                            <td class="td-status">
                                {if $role.enabled}
                                <span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span>
                                {else/}
                                <span class="layui-btn layui-btn-normal layui-btn-mini layui-btn-disabled">已停用</span>
                                {/if}
                            </td>
                            <td class="td-manage">
                                {tp:access action="stateStop"}
                                {if $role.enabled}
                                <a onclick="stateStop(null, this, 'id={$role:id}', '{:url(\'roleStop\')}')" href="javascript:;" title="停用">
                                    <i class="layui-icon">&#xe601;</i>
                                </a>
                                {else/}
                                <a onclick="stateStop(null, this, 'id={$role:id}', '{:url(\'roleStop\')}')" href="javascript:;" title="启用">
                                    <i class="layui-icon">&#xe62f;</i>
                                </a>
                                {/if}
                                {/tp:access}
                                {tp:access action="edit"}
                                <a title="编辑" onclick="xadmin.open('编辑','{:url(\'edit\')}?id={$role.id}','500','300',false)" href="javascript:;">
                                    <i class="layui-icon">&#xe642;</i>
                                </a>
                                {/tp:access}
                                {tp:access action="distributePower"}
                                <a title="权限" onclick="xadmin.open('分配权限','{:url(\'distributePower\')}?id={$role.id}','700','',false)" href="javascript:;">
                                    <i class="layui-icon">&#58963;</i>
                                </a>
                                {/tp:access}
                                {tp:access action="authorizeRole"}
                                <a title="授权" onclick="xadmin.open('授权用户','{:url(\'authorizeRole\')}?id={$role.id}','700','',false)" href="javascript:;">
                                    <i class="layui-icon">&#59138;</i>
                                </a>
                                {/tp:access}
                                {tp:access action="delete"}
                                <a title="删除" onclick="del(null, this, 'id={$role:id}', '{:url(\'delete\')}')" href="javascript:;">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
                                {/tp:access}
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
                <!-- table end -->

                <!-- page begin -->
                <div class="layui-card-body ">
                    <div class="page">
                        {$page|raw}
                    </div>
                </div>
                <!-- page end -->
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['laydate', 'form'], function () {
        const layDate = layui.laydate;
        const form = layui.form;

        // 执行一个laydate实例
        layDate.render({
            elem: '#start' // 指定元素
        });

        // 执行一个laydate实例
        layDate.render({
            elem: '#end' // 指定元素
        });

        // 复选框选中触发事件
        form.on('checkbox', function (data) {
            const len1 = $("input[lay-filter=single]:checked").length;
            const len2 = $("input[lay-filter=single]").length;
            if (data.elem.checked) {
                if ($(data.elem).attr("lay-filter") === "all" || len1 === len2) {
                    $("input[type=checkbox]").prop("checked", true);
                    $(".layui-form-checkbox").addClass("layui-form-checked");
                }
            } else {
                if ($(data.elem).attr("lay-filter") === "all") {
                    $("input[type=checkbox]").prop("checked", false);
                    $(".layui-form-checkbox").removeClass("layui-form-checked");
                } else if (len1 !== len2) {
                    $("input[lay-filter=all]").prop("checked", false);
                    $("input[lay-filter=all]").next(".layui-form-checkbox").removeClass("layui-form-checked");
                }
            }
        });
    });
</script>