<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            {notempty name="menu"}
            {volist name="menu" id="par"}
            {if $par.type==1}
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="{$par.name}">&{$par.icon}</i>
                    <cite>{$par.name}</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    {volist name="menu" id="sub"}
                    {if $sub.type==2 && $sub.par_id==$par.id}
                    <li>
                        <a onclick="xadmin.add_tab('{$sub.name}','{$sub.url}')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>{$sub.name}</cite>
                        </a>
                    </li>
                    {/if}
                    {/volist}
                </ul>
            </li>
            {/if}
            {/volist}
            {/notempty}
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->