<div class="container">
    <div class="logo">
        <a href="./index.html">Think Power管理</a></div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">{$nickname} <img class="user-profile-2" src="{$profile}"></a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a href="{:url('admin/login/logout')}">退出</a>
                </dd>
            </dl>
        </li>
    </ul>
</div>
